#
# AMLOGIC amvecm devices configuration
#

comment "Amlogic VECM Drivers"

menu "Amlogic amvecm Driver"

config AMLOGIC_MEDIA_ENHANCEMENT_VECM
        bool "Amlogic amvecm driver"
        default n
        help
            "Amlogic amvecm module init"

config AMLOGIC_MEDIA_HDR_V1
        bool "Amlogic HDR algorithm V1"
        default n
        help
            "Amlogic HDR algorithm V1"

endmenu
